*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    background: #fafafa;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* ---------------ШАПКА-------------------------------------------------------------------------------------- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header_container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header_container {
        min-height: 70px;
    }
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header_menu {
    margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
    .header_menu {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header_menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header_menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu_list {
    flex-wrap: wrap;
    display: flex;
}

.menu_item {}

.menu_item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu_link {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    line-height: 171%;
}

.menu_link:hover {
    text-decoration: underline;
}

@media (max-width: 479px) {
    .menu_link {
        font-size: 18px;
    }
}


/* ----------------------PAGE------------------------------------------------------------------------------ */

.page {
    flex: 1 1 auto;
}

.page_services {
    position: relative;
    z-index: 2;
    margin-top: -111px;
}

.page_advantages {}

.page_practice {}

.page_whoweare {}

.page_clients {}

.page_clients:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.page_subscribe {}

.page_getintouch {}

.page_contact {}


/* ----------------------HEADER-BLOCK------------------------------------------------------------------------------ */

.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}

.header-block_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
}

.header-block_title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.header-block_sub-title {
    line-height: 142%;
    font-weight: 500;
    color: #737373;
}

@media (max-width: 992px) {
    .header-block_title {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header-block_title {
        font-size: 30px;
    }
}


/* -----------------------------Подвал----------------------------------------------------------------------- */

.footer {}


/* --------------MAIN-block------------------------------------------------------------------------------------- */

.page_main-block {}

.main-block {
    position: relative;
}

.main-block_container {}

.main-block_body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 992px) {
    .main-block_body {
        padding: 120px 0px 191px 0px;
    }
}

@media (max-width: 479px) {
    .main-block_body {
        padding: 115px 0px 160px 0px;
    }
}

.main-block_body>*:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.main-block_title {
    font-size: 58px;
    line-height: 137%;
    font-weight: 800;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block_title {
        font-size: 42px;
    }
}

.main-block_text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}

@media (max-width: 479px) {
    .main-block_text {
        color: #5e5c5c;
    }
}

.main-block_buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0px;
}

.main-block_button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {
    .main-block_button {
        flex: 1 1 100%;
    }
}

@media (min-width: 479px) {
    .main-block_button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block_button_orange {
    background: #FF7B47;
    color: #fff;
}

.main-block_button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}

.main-block_button_orange:hover {
    background: #fff;
    color: #FF7B47;
}

.main-block_button_border:hover {
    background-color: #0D5C63;
    color: #fff;
}

.main-block_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block_image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block_image {
        opacity: 0.5;
    }
}


/* ------------------Selection Service----------------------------------------------------------------------------------------------------------- */

.services {}

.services_container {}

.services_body {}

@media (min-width: 670px) {
    .services_body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
}

.services_column {
    flex: 0 1 33.333%;
}

@media (min-width: 670px) {
    .services_column {
        padding: 0px 15px;
    }
}

@media (max-width: 992px) {
    .services_column {
        flex: 0 1 50%;
    }
    .services_column:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .services_column:last-child {
        flex: 1 1 100%;
    }
}

.services_item {
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
    height: 100%;
}

@media (max-width: 479px) {
    .services_item {
        padding: 25px;
    }
}

.item-service {}

.item-service>*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.item-service_green {
    background-color: #0d5c63;
}

.item-service_green .item-service_text {
    color: #fff;
}

.item-service_green .item-service_title {
    color: #fff;
}

.item-service_icon {}

.item-service_title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
    color: inherit;
}

.item-service_text {
    font-weight: 500;
    line-height: 142%;
    color: #737373;
}


/* ------------------Selection Advantages----------------------------------------------------------------------------------------------------------- */

.advantages {
    margin: 80px 0px;
}

@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 30px 0;
    }
}

.advantages_container {}

.advantages_header {
    margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
    .advantages_header {
        margin: 0px 0px 25px 0px;
    }
}

.advantages_body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}

.advantages_column {
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}

@media (max-width: 1020px) {
    .advantages_column {
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages_column {
        flex: 0 1 100%;
    }
}

.advantages_item {
    background: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

.advantages_item>*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.advantages_icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages_value {
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
}

.advantages_text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
}


/* ------------------Selection PRACTICE----------------------------------------------------------------------------------------------------------- */

.practice {
    padding: 125px 0px 80px 0px;
}

@media (max-width: 993px) {
    .practice {
        padding: 40px 0px 80px 0px;
    }
}

@media (max-width: 767px) {
    .practice {
        padding: 0px 0px 40px 0px;
    }
}

.practice_container {}

.practice_header {
    margin: 0px 0px 45px 0px;
}

@media (max-width: 767px) {
    .practice_header {
        padding: 0px 0px 25px 0px;
    }
}

.practice_body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}

.practice_column {
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}

@media (max-width: 1040px) {
    .practice_column {
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .practice_column {
        flex: 0 1 100%;
    }
}

.practice_item {}

.item_practice_content {
    padding: 30px;
    flex: 1 1 auto;
}

.item_practice {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-practice_link {
    color: inherit;
    display: inline-block;
}

.item-practice_link:hover {
    text-decoration: underline;
}

.item-practice_link:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.item-practice_title {
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 150%;
    font-weight: 700;
}

.item-practice_text {
    color: #737373;
    line-height: 142%;
}

.item-practice_image {
    display: block;
    padding: 0px 0px 60% 0px;
}


/* ---------------Selection-WHOWEARE--------------------------------------------------------------------------- */

.whoweare {
    background: #fff;
    padding: 80px 0px 130px 0px;
}

@media (max-width: 950px) {
    .whoweare {
        padding: 50px 0px 50px 0px;
    }
}

.whoweare_container {}

.whoweare_header {
    margin: 0px 0px 100px 0px;
}

@media (max-width: 950px) {
    .whoweare_header {
        margin: 0px 0px 30px 0px;
    }
}

.whoweare_body {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 950px) {
    .whoweare_body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
}

.whoweare_video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}

@media (max-width: 950px) {
    .whoweare_video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }
}

.whoweare_video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare_content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}

@media (max-width: 1080px) {
    .whoweare_content {
        padding: 0px 0px 0px 50px;
    }
}

@media (max-width: 992px) {
    .whoweare_content {
        padding: 0px 0px 0px 20px;
    }
}

.whoweare_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

@media (max-width: 950px) {
    .whoweare_title {
        font-size: 24px;
    }
}

.whoweare_title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.whoweare_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
    letter-spacing: 0.2px;
}

.whoweare_top:not(:last-child) {
    margin: 0px 0px 50px 0px;
}

.whoweare_items {}

.whoweare_item {}

.whoweare_item:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.item-whoweare {
    display: flex;
}

.item-whoweare_icon {
    flex: 0 0 32px;
}

.item-whoweare_body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}

.item-whoweare_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.item-whoweare_title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.item-whoweare_text {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 171%;
    color: #737373;
}


/* ------------------Clients------------------------------------------ */

.clients {
    padding: 50px 0px;
}

.clients_container {}

.clients_items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients_item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

.clients_item img {
    max-width: 100%;
}


/* _--------------------SUBSCRIBE---------------------------------- */

.subscribe {
    position: relative;
    padding-bottom: 20px;
}

.subscribe::before {
    background: #252B42;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    content: "";
}

.subscribe_container {}

.subscribe_body {
    padding: 30px 50px;
    align-items: center;
    background: #17213C;
    border-radius: 2px;
    position: relative;
    z-index: 2;
}

@media (min-width:1070px) {
    .subscribe_body {
        margin: 0px 30px;
    }
}

@media (min-width:800px) {
    .subscribe_body {
        display: flex;
        justify-content: space-between;
    }
}

.subscribe_title {
    color: #fff;
    max-width: 266px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
}

@media (max-width:800px) {
    .subscribe_title {
        margin: 0px 0px 20px 0px;
    }
    .subscribe_body {
        margin: 0px -15px;
        padding: 20px 25px;
    }
}

.subscribe_form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subscribe_input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    background: #F9F9F9;
    color: #737373;
    padding: 0px 20px;
    box-sizing: content-box;
    border-radius: 5px 0px 0px 5px;
}

.subscribe_input:focus {
    color: black;
}

.subscribe_button {
    background: #FF7B47;
    border: 1px solid #E5E5E5;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 22.5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.subscribe_button:hover {
    background: #ce6238;
}


/* -------------------------GETINTOUCH--------------------------------------------- */

.getintouch {
    padding: 80px 0px 135px 0px;
}

.getintouch_container {}

.getintouch_header {
    margin: 0px 0px 80px 0px;
}

.getintouch_items {
    margin: 0px -15px;
}

@media (min-width:992px) {
    .getintouch_items {
        margin: 0;
        display: flex;
        align-items: center;
    }
}

@media (max-width:992px) {
    .getintouch {
        padding: 50px 0px 50px 0px;
    }
}

@media (max-width:992px) {
    .getintouch_header {
        margin: 0px 0px 50px 0px;
    }
}

@media (max-width:767px) {
    .getintouch_header {
        margin: 0px 0px 30px 0px;
    }
}

.getintouch_item {
    flex: 0 1 33.333%;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 50px 15px;
}

.item-getintouch_active {
    background: #252b42;
    color: #fff;
    padding: 80px 15px;
}

@media (max-width:992px) {
    .item-getintouch_active {
        padding: 50px 15px;
    }
}

.item-getintouch_active .item-getintouch_label {
    color: #fff;
}

.item-getintouch_active .item-getintouch_button {
    color: #fff;
    border: 1px solid #fff;
}

.item-getintouch_active .item-getintouch_button:hover {
    background: #fff;
    color: black;
}

.item-getintouch>*:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.item-getintouch_icon {}

.item-getintouch_emails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-getintouch_email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
}

.item-getintouch_email:hover {
    text-decoration: underline;
}

.item-getintouch_label {
    margin: 15px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252B42;
    letter-spacing: 0.1px;
}

.item-getintouch_button {
    padding: 5px 20px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #FF7B47;
    line-height: 142%;
    text-align: center;
    font-weight: 600;
    color: #FF7B47;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.item-getintouch_button:hover {
    background-color: #ff7b47;
    color: #fff;
}


/* -------------------------------CONTACTS---------------------------------------- */

.contact {
    background: #fff;
    padding: 42px 0px;
}

.contact_container {}

.contact_content {
    padding: 0px 0px 20px 0px;
}

@media (min-width:767px) {
    .contact_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact_content {
        padding: 0px 20px 0px 0px;
    }
}

.contact_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    /* margin: 0px 0px 10px 0px; */
}

.contact_title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.contact_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}

.contact_button {
    display: flex;
    min-height: 58px;
    padding: 5px 40px;
    font-size: 14px;
    line-height: 200%;
    font-weight: 700;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2px;
    background-color: #FF7B47;
    transition: background-color 0.3s ease 0s;
    border-radius: 5px;
}

.contact_button:hover {
    background-color: #c9592c;
}


/* -----------------------------FOOTER--------------------- */

.footer {}

.footer_top {
    background-color: #17213c;
    padding: 35px 0px;
}

.footer_main {}

.footer_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.footer_column {
    flex: 0 1 16.6667%;
    padding: 15px 15px;
    min-width: 170px;
}

.footer_column:last-child {
    flex: 0 1 33.334%;
}

@media (max-width:992px) {
    .footer_column {
        flex: 0 1 25%;
    }
    .footer_column:last-child {
        flex: 1 1 100%;
    }
}

@media (max-width:700px) {
    .footer_column {
        flex: 0 1 50%;
    }
}

.footer_label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #fff;
    margin: 0px 0px 20px 0px;
}

.footer_menu {}

.menu-footer {}

.menu-footer_list {}

.menu-footer_item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.menu-footer_link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.menu-footer_link:hover {
    text-decoration: underline;
}

.footer_contacts {}

.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts-footer_item {
    padding: 0px 0px 0px 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #fff;
    line-height: 142%;
}

.contacts-footer_item:hover {
    text-decoration: underline;
}

.contacts-footer_item:not(:last-child) {
    margin: 0px 0px 12px;
}

.contacts-footer_item_phone {
    background: url("../img/footer/icon/01.svg") left no-repeat;
}

.contacts-footer_item_map {
    background: url("../img/footer/icon/02.svg") left no-repeat;
}

.contacts-footer_item_email {
    background: url("../img/footer/icon/03.svg") left no-repeat;
}

.footer_bottom {
    padding: 25px 0px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px) {
    .footer_container {
        flex-direction: column;
    }
    .footer_copy {
        margin: 0px 0px 15px 0px;
        text-align: center;
    }
}

.footer_copy {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer_social {
    display: flex;
    align-items: center;
}

.social {}

.social_item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}